/* devoxxfr.css */
/* @theme devoxxfr */

@import 'gaia';

@font-face {
    font-family: "Pirulen";
    src: url('../fonts/pirulen.otf');
}

section.lead {
    background-color: #151515;
    background-image: "";
    color: #fff; 
    font-family: 'Pirulen';
}
section.lead h1 {
    color: #02a86e;
}
section.lead h2 {
    color: #fff;
}
section.lead a {
    color: #F88224;
    font-family: 'Open Sans';
}
section {
    background-color: #0b0b0b;
    color: #fff;
    font-family: 'Open Sans';
    font-size: 28px;
}
h1 {
    color: #02a86e;
    font-family: 'Pirulen';
    font-size: 32px;
}
h2 {
    color: #02a86e;
    font-family: 'Pirulen';
    font-size: 28px;
}
h3 {
    color: #02a86e;
    font-family: 'Pirulen';
    font-size: 24px;
}
a {
    color: #381b45;
}
a.visited {
    color: #381b45;
}
img[alt~="center"] {
    display: block;
    margin: 0 auto;
}
table {
    width: 100%;
}
header {
    text-align: right;
    font-family: 'Pirulen';
    color: #fff;  
}
footer {
    background-color: #02a86e;
    color: #000;
    text-align: center;
    height: 50px; 
    padding: 0px;
}
strong {
    color: #F88224;
}